.toggleNav { display: none; }
img { width: 100%; }

input
{
    padding: 10px;
    border: 0;
}

.top 
{ 
    background: #0808083b;
    color: white;
    margin: 20px;
    padding: 20px;
    text-align: center;
}

section, footer
{
    background: #0808083b;
    color: white;
    font-weight: 100;
    margin: 20px;
    padding: 20px;
    text-align: center;
}

form 
{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

form input { margin-bottom: 1%; }


@media all and (max-width: 500px)
{
    /* Flex Container */
    .wrapper
    {
        display: flex;
        flex-direction: column;
    }
    
    /* Flex Items */
    .wrapper > * { order:999; }
    .flex-nav { order: 1; }
    .toggleNav { display: block; }
    .flex-nav ul { display: none }
    .flex-nav ul .open { display: block !important; }
    .top { order: 2; }
    .details { order: 3 }
    .singup { order: 4 }
}