html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

body
{
    margin: 0;
    font-family: sans-serif;
    background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100% );
}

a
{
    background: #0808083b;
    color: white;
    display: inline-block;
    font-weight: 100;
    letter-spacing: 2px;
    padding: 20px 5px;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s;
    width: 100%;
}

a:hover { background: #08080871;}

.wrapper
{
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px;
}

/* Flex container*/
.flex-nav ul
{
    border: 1px solid black;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.flex-nav li { flex: 3; }
.flex-nav .social { flex: 1; }

@media all and (max-width: 1000px)
{
    .flex-nav ul { flex-wrap: wrap; }
    .flex-nav li { flex: 1 1 50%; }
    .flex-nav .social { flex: 1 1 25%; }
}

@media all and (max-width: 500px)
{
    .flex-nav li { flex-basis: 100%; }
}