.box
{
    color: white;
    font-size: 30px;
    text-align: center;
    text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
    padding: 10px;
}

/* Colors for each box*/
.box1 { background: #1abc9c;}
.box2 { background: #0abada;}
.box3 { background: #0565b4;}
.box4 { background: #6e1abc;}
.box5 { background: #bc1a93;}
.box6 { background: #dd1d67;}
.box7 { background: #bc1a1a;}
.box8 { background: #eb7a1f;}
.box9 { background: #eeea20;}
.box10 { background: #4dbc1a;}

/* Flexbox direction and wrap examples 
Friday 13th, November, 2020 */ 
/*
.container
{
    display: flex;
    border: 10px solid goldenrod;
    height: 100vh;
    flex-wrap: wrap-reverse;
    flex-direction: row;
}

.box
{
    width: 33.333333%;
    margin: 10px;
}*/

/* Flexbox Ordering 
Friday 13th, November, 2020*/
/*
.container
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.box { flex: 1; }
.box3 { order: 0; }
.box5 { order: 1; }
.box7 { order: 2; }
.box9 { order: -1; }
.box6 { order: -3; }*/

/* Flexbox Justify ontent
Friday 13th, November, 2020*/
/*
.container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}*/

/* Flexbox Aling items
Tuesday, November 17th, 2020 */
/*
.container
{
    display: flex;
    height: 100vh;
    align-items: center;
    flex-direction: column;
}

.box1 {font-size: 10px; }
.box3 {font-size: 30px; }
.box4 {font-size: 50px; }
.box5 {font-size: 150px; }
.box6 {font-size: 15px; }
.box10 {font-size: 77px; }
*/

/* Flexbox Aling content
Tuesday, November 17th, 2020 */
/*
.container
{
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    justify-content: center;
}

.box { width: 33.33333%; }*/

/* Flexbox sizing with flex property
Tuesday, November 17th, 2020 */
/*
.container
{
    display: flex;
    height: 100vh;
    border: 10px solid mistyrose;
    align-items: flex-start;
}

.box { width: 33.333%; }

.box2
{
    padding-bottom: 200px;
    align-self: center;
}

.box4 { padding-bottom: 0; }

.box6
{
    padding-bottom: 50px;
    align-self: stretch;
}

.box8
{
    padding-bottom: 100px;
    align-self: flex-end;
}
*/

/* Flexbox sizing with flex property
Tuesday, November 17th, 2020 */
/*
.container
{
    display: flex;
}

.box
{
    flex: 1;
}

.box2
{
    flex: 2;
}*/

/* Flexbox sizing with flex property
Tuesday, November 17th, 2020 */
/*
.container
{
    display: flex;
}

.box1
{
    flex-basis: 400px;
    flex-grow: 10;
    flex-shrink: 10;
}

// This is the same that the up element
.box2
{
    flex: 1 1 400px;
}*/

/* Flexbox sizing with flex property
Tuesday, November 17th, 2020 */
/*
.container
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100vh;
}

.box
{
    flex-basis: 200px;
    flex-grow: 1;
}

.box3 { flex-grow: 5; }
.box4 { flex-grow: 30px; }
*/